*  @w3security/hammerhead @w3security/w3security-open-source

# monorepo packages
packages/w3security-fix/ @w3security/tech-services
packages/w3security-protect/ @w3security/hammerhead
packages/cli-alert/ @w3security/hammerhead
packages/iac-cli-alert/ @w3security/cloud-dev-ex

README.md  @w3security/hammerhead
CONTRIBUTING.md @w3security/hammerhead
.circleci @w3security/hammerhead

cliv2/ @w3security/hammerhead
release-scripts/hcl-to-json-parser-generator/ @w3security/cloud-dev-ex
release-scripts/hcl-to-json-parser-generator-v2/ @w3security/cloud-dev-ex
src/cli/commands/test @w3security/w3security-open-source
src/cli/commands/monitor @w3security/w3security-open-source
help/  @w3security/hammerhead
src/cli/commands/test/iac/ @w3security/cloud-dev-ex
src/cli/commands/describe.ts @w3security/cloud-context
src/cli/commands/update-exclude-policy.ts @w3security/cloud-dev-ex
src/cli/commands/apps @w3security/moose
src/lib/apps @w3security/moose
src/lib/container @w3security/mycelium
src/lib/plugins @w3security/w3security-open-source
test/fixtures/sast/ @w3security/zenith
src/lib/plugins/sast/ @w3security/zenith
test/jest/unit/w3security-code/ @w3security/zenith
src/lib/formatters/iac-output/ @w3security/cloud-dev-ex
src/lib/iac/ @w3security/group-infrastructure-as-code
src/lib/iac/test/ @w3security/cloud-dev-ex
src/lib/w3security-test/iac-test-result.ts @w3security/cloud-dev-ex
test/fixtures/basic-apk/ @w3security/mycelium
test/fixtures/container-app-vulns/ @w3security/mycelium
test/fixtures/container-projects/ @w3security/mycelium @w3security/potion
test/fixtures/docker/ @w3security/mycelium @w3security/potion
test/fixtures/iac/ @w3security/cloud-dev-ex
test/fixtures/iac/drift @w3security/cloud-context
test/smoke/iac/ @w3security/cloud-dev-ex
test/smoke/spec/w3security_code_spec.sh @w3security/zenith
test/smoke/spec/w3security_basic_spec.sh @w3security/hammerhead
test/smoke/.iac-data/ @w3security/cloud-dev-ex
test/jest/unit/lib/endpoint-config-test.spec.ts @w3security/nebula
test/jest/unit/lib/formatters/iac-output/ @w3security/cloud-dev-ex
test/jest/unit/lib/formatters/test/format-test-results.spec.ts @w3security/hammerhead @w3security/w3security-open-source @w3security/mycelium
test/jest/unit/iac/ @w3security/cloud-dev-ex
test/jest/unit/cli/commands/test/iac @w3security/cloud-dev-ex
test/jest/unit/lib/iac/drift/ @w3security/cloud-context
test/jest/unit/lib/iac/test/ @w3security/cloud-dev-ex
test/jest/acceptance/iac/ @w3security/cloud-dev-ex
test/jest/acceptance/iac/describe.spec.ts @w3security/cloud-context
test/jest/acceptance/w3security-apps @w3security/moose
src/lib/code-config.ts @w3security/nebula
src/lib/errors/describe-required-argument-error.ts @w3security/cloud-context
src/lib/errors/describe-exclusive-argument-error.ts @w3security/cloud-context
src/lib/errors/no-supported-sast-files-found.ts @w3security/zenith
test/jest/util/ @w3security/hammerhead
dangerfile.js @w3security/hammerhead
/package.json @w3security/hammerhead
/package-lock.json @w3security/hammerhead
/config.default.js @w3security/hammerhead
/webpack.common.js @w3security/hammerhead
/webpack.dev.js @w3security/hammerhead
/webpack.prod.js @w3security/hammerhead
/tsconfig.json @w3security/hammerhead
/tsconfig.settings.json @w3security/hammerhead
CODEOWNERS @w3security/hammerhead
/docker @w3security/hammerhead
src/cli/commands/log4shell-hashes.ts @w3security/tundra
src/cli/commands/log4shell.ts @w3security/tundra
test/fixtures/unmanaged-log4j-fixture @w3security/tundra
test/jest/acceptance/w3security-log4shell/log4shell-detection.spec.ts @w3security/tundra
test/jest/acceptance/w3security-test/app-vuln-container-project.spec.ts @w3security/mycelium
/.github @w3security/hammerhead
/.github/workflows/iac-smoke-tests.yml @w3security/cloud-dev-ex
/.github/workflows/iac-smoke-tests-pulls.yml @w3security/cloud-dev-ex

# tap tests ownership
test/tap/cli-monitor/ @w3security/w3security-open-source
test/tap/cli-test/ @w3security/w3security-open-source
test/tap/args.test.ts @w3security/hammerhead
test/tap/auth.test.ts @w3security/hammerhead
test/tap/cli-fail-on-docker.test.ts @w3security/hammerhead
test/tap/cli-fail-on-pinnable.test.ts @w3security/w3security-open-source
test/tap/cli-monitor.acceptance.test.ts @w3security/w3security-open-source
test/tap/cli-test.acceptance.test.ts @w3security/w3security-open-source
test/tap/cli.test.ts @w3security/hammerhead
test/tap/container.test.ts @w3security/potion
test/tap/display-test-results.test.ts @w3security/w3security-open-source
test/tap/docker-token.test.ts @w3security/potion
test/tap/endpoint-config.test.ts @w3security/hammerhead
test/tap/find-files.test.ts @w3security/w3security-open-source
test/tap/monitor-target.test.ts @w3security/w3security-open-source
test/tap/proxy.test.js @w3security/hammerhead
test/tap/remote-package.test.ts @w3security/w3security-open-source
test/tap/request.test.ts @w3security/hammerhead
test/tap/run-test.test.ts @w3security/w3security-open-source
test/tap/severity-threshold.test.ts @w3security/w3security-open-source
test/tap/sln-app.test.ts @w3security/w3security-open-source
test/tap/sub-process.test.js @w3security/w3security-open-source
test/tap/user-config.test.ts @w3security/w3security-open-source
test/tap/vulnerable-path-output.js @w3security/w3security-open-source

# protect
test/tap/cli-protect-no-vulns-to-patch.test.ts @w3security/hammerhead
test/tap/patch-fetch-fail.test.ts @w3security/hammerhead
test/tap/cli-protect.test.ts @w3security/hammerhead
test/tap/protect-apply-same-patch-again.test.js @w3security/hammerhead
test/tap/protect-config.test.ts @w3security/hammerhead
test/tap/protect-factors-pre-tarred.test.ts @w3security/hammerhead
test/tap/protect-fail.test.js @w3security/hammerhead
test/tap/protect-ignore.test.js @w3security/hammerhead
test/tap/protect-patch-filter.test.js @w3security/hammerhead
test/tap/protect-patch-order.test.ts @w3security/hammerhead
test/tap/protect-patch-same-pkg.test.js @w3security/hammerhead
test/tap/protect-semver-patch.test.ts @w3security/hammerhead

